.custom-image-with-text-content-wrapper {
    display: flex;
}
.custom-image-with-text-content {
    width: 38%;
    padding-left: 68px;
}
.secondary-banner-image-wrapper{
    width: 62%;
}
.custom-image-with-text-heading {
    font-family: "Jost Regular", sans-serif;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 40px 0 50px 0;
}
.custom-image-with-text-description {
    font-family: "Jost Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 50px 0 50px 0;
}
.custom-image-with-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 220px;
    font-family: "Jost Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: black;
    gap: 28px;
    padding-left: 20px;
}
.custom-image-with-text-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    background-color: #F5F5F5;
}
.custom-image-with-text-footer .custom-image-with-text-footer-text {
    font-family: "Jost Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}